<div class="page-width sw-section__wraper">
  <div class="sw-section__content">
    <div class="sw-section-image-wrapper">
      <img height="{{section.settings.image-height}}" width="100%" src="{{ section.settings.background_image | image_url: 'master' }}" alt="">
      <div class="sw-section-text">
        {% for block in section.blocks %}
          {% case block.name %}
            {% when 'heading' %}
              <h2 class="sw-section-heading" style="text-align: {{ section.settings.text_alignment }}">
                {{ block.settings.heading }}
              </h2>
            {% when 'text-area' %}
              <textarea name="{{block.id}}" id="{{block.id}}"> {{block.settings.text_area}}</textarea>
            {% when 'link' %}
              <a href="{{block.settings.link_url}}" class="sw-section-link">{{ block.settings.link_text }}</a>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "sw-section",
  "tag": "section",
  "class": "sw-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "select",
      "id": "image-height",
      "label": "Image size",
      "default": "80vh",
      "options": [
        {
          "value": "80vh",
          "label": "large"
        },
        {
          "value": "50vh",
          "label": "medium"
        },
        {
          "value": "30vh",
          "label": "small"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text Alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "limit": 1,
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading"
        }
      ]
    },
    {
      "type": "text-area",
      "limit": 2,
      "name": "Text",
      "settings": [
        {
          "type": "textarea",
          "id": "text_area",
          "label": "Text",
          "default": "Enter text here"
        }
      ]
    },
    {
      "type": "link",
      "limit": 2,
      "name": "cta-link",
      "settings": [
        {
          "type": "text",
          "id": "link_text",
          "label": "Link Text",
          "default": "Link Text"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "sw-section"
    }
  ]
}
{% endschema %}
